# Ignore bundler config
/.bundle

# Ignore logs and temporary files
/log/*
/log/.keep
/tmp
tmp/.keep

# Ignore database migrations lock file
/backend/db/schema.rb.lock

# Ignore environment files
.env
.env.*

/frontend/.env

# Ignore secret files
/config/master.key
/config/credentials.yml.enc

# Ignore uploaded files
/storage/*
/storage/.keep

# Ignore compiled assets
/public/assets
/public/packs
/public/packs-test
/node_modules

# Ignore Yarn integrity file
/yarn-error.log

# Ignore coverage reports
/coverage/

# Ignore system files
/.DS_Store
/Thumbs.db

# Ignore byebug command history
/backend/.byebug_history

# Ignore spring and cache files
/spring/*.pid
/spring/commands

# Ignore CI/CD config files generated during deployment
/**/.rspec
/.rspec_status
/.idea/
/rspec
/spec

# Ignore vendor cache
/vendor/bundle

# Ignore Capistrano deployment artifacts
/revisions.log

# Ignore Rails credentials files
#/backend/config/database.yml

# Ignore other system-specific files
/*.swp
/*.swo
/*.log

# PostgreSQL specific
/db/*.pg
/db/*.pgsql
/db/*.pg_* # Backup files, temporary files
/*.pgpass

